{% include "tribe/header.html" %}

{% block content %}

    <header class="header-image-container">
            <div class="fill text-center">
                <div class="title">
                    <h1><b>Tribe</b></h1>
                    <h2>Family-management gamified</h2>
                </div>
            </div>
    </header>

    <!-- Page Content -->
    <div class="container">

    <div class="row buttons">
      <div class="col-md-4"></div>
      <div class="col-md-4 text-center">
            <hr class="featurette-divider">
            <a href="/accounts/register/" class="btn btn-default btn-lg">Register</a>
            <a href="/accounts/login" class="btn btn-default btn-lg">Sign In</a>
            <hr class="featurette-divider">
      </div>
      <div class="col-md-4"></div>

    </div>

    <div class="row">
        <hr class="featurette-divider">

        {% load staticfiles %}

        <!-- First Featurette -->
        <div class="featurette" id="about" style="height: 500px">
            <img class="featurette-image img-circle img-responsive pull-right" src="{% static "tribe/featurette_2.png" %}">
            <h2 class="featurette-heading">Efficient families
                <span class="text-muted">Look no further</span>
            </h2>
            <p class="lead">Tribe makes getting things done fun.</p>
        </div>

        <hr class="featurette-divider">

        <!-- Second Featurette -->
        <div class="featurette" id="services" style="height: 500px">
            <img class="featurette-image img-circle img-responsive pull-left" src="{% static "tribe/featurette_1.png" %}">
            <h2 class="featurette-heading">Spend time together
                <span class="text-muted">And get rewarded for it!</span>
            </h2>
            <p class="lead">Intuitive tasks and points system.</p>
        </div>

        <hr class="featurette-divider">

        <!-- Third Featurette -->
        <div class="featurette" id="contact" style="height: 500px">
            <img class="featurette-image img-circle img-responsive pull-right" src="{% static "tribe/featurette_3.png" %}">
            <h2 class="featurette-heading">Total control
                <span class="text-muted">of your data.</span>
            </h2>
            <p class="lead">REST API gives total freedom of how you use your data.</p>
        </div>

        <hr class="featurette-divider">

        <!-- Footer -->
        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p>Copyright &copy; x11105089 2015</p>
                </div>
            </div>
        </footer>

    </div> <!-- row -->

    </div>
    <!-- /.container -->


{% endblock %}
{% include "tribe/header.html" %}
