{% extends "tribe/logged_in.html" %}

{% block content %}

<h2>Invitees</h2>
<div class="container">

    <ul style="list-style: none;">
    {% for invitee in invitees %}
        <li>
            <div class="well">
                {{ invitee.email }} <span class="bg-info" style="float:right"> Pending </span>
            </div>
        </li>
    {% endfor %}
    </ul>

    {% if user.is_leader %}
        {% load crispy_forms_tags %}
        {% crispy form %}
    {% endif %}

</div>

{% endblock %}
