{% include "tribe/header.html" %}
    <div id="wrapper">

        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li>
                    <a href="#header-menu-toggle" class="btn btn-default" id="header-menu-toggle"> Tribe Menu </a>
                </li>
                <li class="sidebar-brand">
                    <a href="/mytribe/">
                        TRIBE
                    </a>
                </li>
                <li>
                    <a href="/mytribe/tasks/">Tasks</a>
                </li>
                <li>
                    <a href="/mytribe/tasks/categories/">Categories</a>
                </li>
                <li>
                    <a href="/mytribe/tasks/points/">Points</a>
                </li>
                <li>
                    <a href="/mytribe/tasks/rewards/">Rewards</a>
                </li>
                <li>
                    <a href="/logout/">Sign Out</a>
                </li>
            </ul>
        </div>
        <!-- /#sidebar-wrapper -->

        <div id="page-content-wrapper">

            {% block content %}
            {% endblock %}

        </div>
    </div>
    </div>


    </div>

            
{% include "tribe/footer.html" %}
