{% extends "tribe/logged_in.html" %}

{% block content %}

<div class="row">

    <h1>{{ user.tribe.name }}</h2>

{% if user.is_leader %}
      <a href="/mytribe/update"><button type="button" class="btn btn-default"><span class="glyphicon glyphicon-cog" aria-hidden="true"></span> Edit your tribe</button></a>
      <a href="/mytribe/invite_tribe_members"><button type="button" class="btn btn-default"><span class="glyphicon glyphicon-user" aria-hidden="true"></span> Invite new members</button></a>
</div>

<hr />


{% endif %}


    <div class="col-md-6">
        <div class="panel panel-default">
          <div class="panel-body">
            {% for u in user.tribe.members.all %}
            <a href='/mytribe/{{ u.id }}/'>
                <div class="panel panel-default">
                  <div class="panel-body" style="font-size: 40px">
                    {% if u.name %}{{u.name}}{% else %}{{ u.email }}{%endif%}
                    {% if u.image %}
                    <img src="/{{ u.image.url }}" style="width: 33%; float: right">
                    {% endif %}
                  </div>
                </div>
            </a>
            {% endfor %}
          </div>
        </div>
    </div>


    {% if user.is_leader %}



    {% endif %}

{% endblock %}

