{% extends "tribe/logged_in.html" %}

{% block content %}

    <h1>{{ user.tribe.name }}</h1>

{% if user.is_leader %}
<div class="bg-info">
      <a href="/mytribe/update"><button type="button" class="btn btn-default"><span class="glyphicon glyphicon-cog" aria-hidden="true"></span> Edit your tribe</button></a>
      <a href="/mytribe/invite_tribe_members"><button type="button" class="btn btn-default"><span class="glyphicon glyphicon-user" aria-hidden="true"></span> Invite new members</button></a>
</div>



{% endif %}

<hr />

<table class="table">
      <caption>Tribe members</caption>
      <tbody>

            {% for u in user.tribe.members.all %}
        <tr>
          <td>
            <a href='/mytribe/{{ u.id }}/'>
              <strong>{% if u.name %}{{u.name}}{% else %}{{ u.email }}{%endif%}</strong>
            </a>
          </td>
                    <td>
                    {% if u.image %}
            <a href='/mytribe/{{ u.id }}/'>
                    <img src="/{{ u.image.url }}" style="width: 33%; float: right">
            </a>
                    {% endif %}
                    </td>
        </tr>
            {% endfor %}

      </tbody>
    </table>

    {% if user.is_leader %}



    {% endif %}

{% endblock %}

