{% extends "tribe/base.html" %}
{% block content %}
{% include "tribe/logged_in.html" %}

<!-- Page Content -->
<div id="page-content-wrapper">
    <div class="container-fluid">


<h1>{{ user.tribe.name }}</h2>

{% if user.is_leader %}

<div class="dropdown">
  <button class="btn btn-warning dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
    Leader Options
    <span class="caret"></span>
  </button>
  <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
    <li role="presentation"><a role="menuitem" tabindex="-1" href="/mytribe/update/">Edit</a></li>
    <li role="presentation"><a role="menuitem" tabindex="-1" href="/mytribe/invite_tribe_members/">Invite New Members</a></li>
  </ul>
</div>

{% endif %}

        <!-- Page Content -->
        <div id="page-content-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">

    <ul>
    {% for u in user.tribe.members.all %}
        <li>
            {% if u.is_leader %}
            Leader:
            {% endif %}
            <a href='/mytribe/{{ u.id }}/'>{% if u.name %}{{u.name}}{% else %}{{ u.email }}{%endif%}</a>
        </li>
    {% endfor %}
    </ul>

        </div>
        </div>
        </div>
        </div>
    </div>
    <!-- /#wrapper -->


{% endblock %}

