{% extends "tribe/logged_in.html" %}

{% block content %}

<div class="row">
  <div class="col-md-4">
    <h2>{{ object.name }}</h2>
    <div name="buttons">
    {% if user.password == object.password %}
        <a href="{{ object.get_absolute_url }}update/">
            <button type="button" data-container="body" data-toggle="popover" data-placement="bottom" data-content="Edit my profile" class="btn btn-default">
              <span class="glyphicon glyphicon-edit" aria-hidden="true"></span> Edit
            </button>
        </a>
    {% endif %}
    </div>
  </div>
  <div class="col-md-4">
  </div>
  <div class="col-md-4">
  </div>
</div>

<hr />

<div class="row">
    {% if object.image %}
    <div class="col-md-4">
      <img src="/{{ object.image.url }}" style="width: 100%">
    </div>
    {% endif %}


  <div class="col-md-4">
    <div class="panel panel-default">
      <div class="panel-heading">
        Email
      </div>
      <div class="panel-body">
        {{ object.email | urlize }}
      </div>
    </div>
  </div>

  <div class="col-md-4">
  </div>
</div>
<hr />

<div class="row">
  <div class="col-md-4">
    <div class="panel panel-default">
      <div class="panel-heading">
        Points this week
      </div>
      <div class="panel-body">
        {{ object.points_this_week }}
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="panel panel-default">
      <div class="panel-heading">
        Total Points
      </div>
      <div class="panel-body">
        {{ object.points }}
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        Rewards
      </div>
      <div class="panel-body">
        {% for reward in object.available_rewards.all %}
        <p>{{ reward.name }}</p>
        {% endfor %}
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        Rewards Achieved
      </div>
      <div class="panel-body">
        {% for reward in object.achieved_rewards.all %}
        <p>{{ reward.reward.name }}</p>
        {% endfor %}
      </div>
    </div>
  </div>
</div>

{% endblock %}
