{% include "tribe/header.html" %}

{% block content %}

  <div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4 text-center">
      <h2>Tribe</h2>

      <hr>

      <div class="row">
        <h3>Hurry, get logged back in:</h3>
      </div>

      {% load crispy_forms_tags %}
        <form method="post" action="" class="form-signin">{% csrf_token %}
            {{ form|crispy }}
            <div>
            <button type="submit" class="btn btn-primary">Enter</button>
            <input type="hidden" name="next" value="/mytribe" />
            </div>
        </form>

      {% if form.errors %}
        <p class="error">Sorry, that's not a valid email or password!</p>
      {% endif %}
    </div>
  </div>

{% endblock %}

{% include "tribe/footer.html" %}
