{% extends "tribe/base.html" %}
{% block content %}
{% include "tribe/logged_in.html" %}
<h2>Task Categories</h2>
<ul>
{% for category in object_list %}
    <li>
       <a href="{{ category.id }}">
            {{ category.name }}
        </a>
    </li>
{% endfor %}
</ul>

{% if user.is_leader %}
    <a href="/mytribe/tasks/categories/new/">
        <button type="button" class="btn btn-default">
          <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> New Category
        </button>
    </a>
{% endif %}

{% endblock %}
