{% extends "tribe/logged_in.html" %}

{% block content %}

<h1>{{ object.task.name }}</h1>
{{ object.date }}
{{ object.user }}
{% load staticfiles %}

{% if object.image %}
<img src="/{{ object.image.url }}" style="width: 80%">
{% endif %}

{% if user.is_leader and not object.has_been_approved %}
    <a href="/mytribe/tasks/{{object.id}}/update">
        <form method="post" action="">
        {% csrf_token %}
        <input type="hidden" name="checkin" value="{{object.id}}" />
        <button type="submit" class="btn btn-default">
          <span class="glyphicon glyphicon-ok" aria-hidden="true"></span> Approve
        </button>
        </form>
    </a>
{% endif %}

{% endblock %}
