{% extends "tribe/logged_in.html" %}

{% block content %}

{% if user.is_leader %}
  <a href="/mytribe/tasks/rewards/new/">
    <button type="button" class="btn btn-default">
      <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> New Reward
    </button>
  </a>
{% endif %}

<hr />

<div class="row">
  <div class="col-md-6">
      <ul class="list-group">
        {% for reward in object_list %}
        <li class="list-group-item">
        <span class="badge">{{ reward.points_required }} points</span>
          <a href="{{ reward.id }}">
                {{ reward.name }}
          </a>
        </li>
        {% endfor %}
      </ul>
  </div>

   </div>




</div>
{% endblock %}

