{% extends "tribe/base.html" %}
{% block content %}
{% include "tribe/logged_in.html" %}
<h2>Available Tasks</h2>
{% for task in object_list %}
    {% if not task.marked_done %}
        <div class="panel panel-default">
          <div class="panel-body">
            <a href="/mytribe/tasks/{{ task.id }}">
            {{ task.name }}
            </a>
          </div>
          <div class="panel-footer">
          {{ task.description }}
          </div>
        </div>
    {% endif %}
{% empty %}
    <li>No tasks yet.</li>
{% endfor %}
{% endblock %}
