{% extends "tribe/logged_in.html" %}

{% block content %}

<div class="row">
  <div class="col-md-4">
    <div name="buttons">
    {% if user.is_leader %}
        <a href="/mytribe/tasks/new">
            <button type="button" data-container="body" data-toggle="popover" data-placement="bottom" data-content="Add a new task." class="btn btn-default">
              <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> New Task
            </button>
        </a>
        <a href="/mytribe/tasks/categories">
            <button type="button" data-container="body" data-toggle="popover" data-placement="right" data-content="View and edit categories." class="btn btn-default">
              <span class="glyphicon glyphicon-music" aria-hidden="true"></span> Categories
            </button>
        </a>
    {% endif %}
    </div>
  </div>

  <div class="col-md-4">
  </div>

  <div class="col-md-4">
  </div>


</div>
<hr />

<div class="row">

  <div class="col-md-4">
    <h2>Available...</h2>
    {% for task in object_list %}
    {% if not task.has_been_checked_in_on and task.available_now %}
    <div class="panel panel-primary">
      <div class="panel-heading">
        <div class="panel-title">
          <a href="/mytribe/tasks/{{ task.id }}">
            <div class="row">
              <div class="col-md-3">
                  <span style="font-weight: bold; font-size: 120%;">{{ task.points_reward }}</span>
              </div>
              <div class="col-md-6">
                  {{ task.name }}
              </div>
              <div class="col-md-3">
                                      <span class="glyphicon glyphicon-hourglass" aria-hidden="true" style="float: right;"></span>
              </div>
            </div>
          </a>

                      </div>
                    </div>
                  <div class="panel-body">
                  {{ task.description }}
                  </div>
                  <div class="panel-footer">
                      Available to:
                      {% if task.assigned_users.all %}
                      {% for u in task.assigned_users.all %}
                      <a href="/mytribe/{{u.id}}">{{u.name}}</a>
                      {% endfor %}
                      {% else %}
                      Everyone
                      {% endif %}
                  </div>
                </div>
            {% endif %}
        {% empty %}
            <p>No tasks yet.</p>
        {% endfor %}
  </div>

  <div class="col-md-4">
    <h2>Pending...</h2>
      {% for task in all_tasks %}
        {% if task.has_been_checked_in_on %}
          {% for checkin in task.checkins.all %}
            {% if not checkin.has_been_approved %}
                <div class="panel panel-info">
                    <div class="panel-heading">
                      <div class="panel-title">
              <a href="/mytribe/tasks/{{ task.id }}">
                          {{ task.name }}     <span class="glyphicon glyphicon-option-horizontal" aria-hidden="true" style="float:right;"></span>
              </a>
                      </div>
                    </div>
                  <div class="panel-body">
                    Checked in by <a href="/mytribe/{{checkin.user.id}}">{{ checkin.user.name }}</a>, {{ checkin.date }}
                  </div>
                </div>
            {% endif %}
          {% endfor %}
        {% endif %}
        {% empty %}
            <p>No tasks yet.</p>
      {% endfor %}
  </div>

  <div class="col-md-4">
    <h2>Complete!</h2>
      {% for task in all_tasks %}
        {% if task.has_been_checked_in_on %}
          {% for checkin in task.checkins.all %}
            {% if checkin.has_been_approved %}
                <div class="panel panel-success">
                    <div class="panel-heading">
                      <div class="panel-title">
              <a href="/mytribe/tasks/{{ task.id }}">
                          {{ task.name }}     <span class="glyphicon glyphicon-ok" aria-hidden="true" style="float: right"></span>
                </a>
                      </div>
                    </div>
                  <div class="panel-body">
                    Approved by <a href="/mytribe/{{checkin.user.id}}">{{ checkin.approval.approver.name }}</a>
                  </div>
                </div>
            {% endif %}
          {% endfor %}
        {% endif %}
        {% empty %}
            <p>No tasks yet.</p>
      {% endfor %}
  </div>
</div>





{% endblock %}
